<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Home Page</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
		
		
		<nav class="navbar navbar-dark bg-primary">
  		 <a class="navbar-brand" href="#">
    		Prime Automation Pvt. Ltd.
  </a>
  			<form class="form-inline">
   				 	<a th:href="@{add_customer.html}" class="form-control mr-sm-2 btn-success" >Add Cutomer</a>
					<a href="/invokeAddService" class="form-control mr-sm-2 btn-success">Add Services</a>
					<a href="/logout" class="form-control mr-sm-2 btn-warning">Logout</a>
 		 </form>
		</nav>
		
		
		
		<div class="container">
			<table class="table table-stripped">
			<thead>
			<tr>
				<th>vehicle_id</th>
				<th>vehicle_type</th>
				<th>customer_name</th>
				<th>vehicle_number</th>
				<th>service_Advisor</th>
				<th>vehicle_service_list</th>
				<th>Status</th>
				<th>Edit</th>
			</tr>
			<thead>
			
			<tbody>
				<tr>
					<td>101</td>
					<td>four wheel</td>
					<td>Ashutosh</td>
					<td>fuel filter, servicing</td>
					<td>Ram laal</td>
					<td>MH 4405</td>
					<td>Runining</td>
					<td><a href=""><img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/edit-icon.png" height="20" width="20"></a></td>
				</tr>
			</tbody>
		</table>
		</div>
</body>
</html>